{{#each warriors:id}}
li(data-index='{{id}}')
	a.hero-photo(href='#')
		img(src='{{image.small}}', height='130', alt='{{name}}')
	h2
		a(href='#') {{name}} 
	ul.hero-description
		li
			span Age: 
			{{age}}
		li
			span Theme:
			{{info.theme}}
		li
			span Main Weapons: 
			{{info.main-weapons}}
		li
			span Sub Weapons: 
			{{info.sub-weapons}}
		li
			span Dracula Defeats: 
			{{info.dracula-defeats}}
		li
			span Canon Appearances: 
			{{info.canon-appearances}}
	p.badassness {{badassness}}/5
	.highlight
{{/each}}