extends _layout

block content
	header
		h1 IGAvania Sorter
	section
		nav
			ul
				li info1
				li info2
				li info3
				li info4
				li info5
		main
			ul.heroes-list
				script#heroes(type='text/ractive').
					{{#each warriors:id}}
						<li data-index="{{id}}"><a href="#" class="hero-photo"><img src="{{image.small}}" height="130" alt="{{name}}"/></a>
						  <h2><a href="#">{{name}} </a></h2>
						  <ul class="hero-description">
						    <li><span>Age: </span>{{age}}</li>
						    <li><span>Theme:</span>{{info.theme}}</li>
						    <li><span>Main Weapons: </span>{{info.main-weapons}}</li>
						    <li><span>Sub Weapons: </span>{{info.sub-weapons}}</li>
						    <li><span>Dracula Defeats: </span>{{info.dracula-defeats}}</li>
						    <li><span>Canon Appearances: </span>{{info.canon-appearances}}</li>
						  </ul>
						  <p class="badassness">{{badassness}}/5</p>
						  <div class="highlight"></div>
						</li>
					{{/each}}	
		footer