extends _layout

block content
	header
		h1 IGAvania Filterer
	section
		nav
			p Filter by:
			ul
				li Theme
				li Main Weapons
				li Sub Weapons
				li Dracula Defeats
				li Canon Appearances
		main
			ul.heroes-list
				script#heroes(type='text/ractive').
					{{#each warriors:id}}
						<li data-index="{{id}}"><a href="#" class="hero-photo"><img src="{{image.small}}" height="130" alt="{{name}}"/></a>
							<h2><a href="#">{{name}} </a></h2>
							<ul class="hero-description">
								{{#info}}
									<li><span>Age: </span>{{age}}</li>
									<li><span>Theme:</span>{{theme}}</li>
									<li><span>Main Weapons: </span>{{mainWeapons}}</li>
									<li><span>Sub Weapons: </span>{{subWeapons}}</li>
									<li><span>Dracula Defeats: </span>{{draculaDefeats}}</li>
									<li><span>Canon Appearances: </span>{{canonAppearances}}</li>
								{{/info}}
							</ul>
							<p class="badassness">Badassness: {{badassness}}/5</p>
							<div class="highlight"></div>
						</li>
					{{/each}}

			.single-hero-page
				.overlay
				.preview-large
				img(src='')
				p
				span.close &times;

			.error.page
				h3 The night has claimed this page! (Something went wrong.)

		footer